{% extends 'base.html' %}
{% block content %}
    <div>
        <div class='container p-3 my-3 bg-dark text-white rounded'>
            <div class="form">
                <form method='POST'>
                    {% csrf_token %}
                    <div class='text-center'>
                        <h1>Change password</h1>
                        <div style="vertical-align: middle; padding-top: 1%;">
                            {{ form }}
                        </div>
                        <button type="submit" class="my-3 btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <img class="rounded" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.RDc2ptk1sER-ca-80JHu9gHaEK%26pid%3DApi%26h%3D160&f=1" style="display:block; margin-left:auto; margin-right:auto; width:50%">
        </div>
    </div>
{% endblock %}