{% extends 'base.html' %}
{% block content %}
    <header>
        <div class='container-fluid'>
            <nav class='row bg-dark'>
                <ul>
                    <li style="float: right; margin-left: 15px; margin-top: 10px;">
                        <a class='btn button-primary bg-white' href="{% url 'profile page' %}">Profile</a>
                    </li>
                    <li style="float: right; margin-left: 15px; margin-top: 10px;">
                        <a class='btn button-primary bg-white' href="{% url 'create todo' %}">Add Todo</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 style="text-align: center; user-select: none;">My Todos</h1>
    {% if todos %}
        {% for todo in todos %}
            <div class="container-sm bg-dark text-white rounded p3 my-3">
                <h2 style="user-select: none;">{{ todo.title }}</h2>
                <div class="right">
                    <a class="btn button-primary bg-white p1 my-2" href="{% url 'todo details' todo.id %}">Details</a>
                    <a class="btn button-primary bg-white p1 my-2" href="{% url 'edit todo' todo.id %}">Edit</a>
                    <a class="btn button-primary bg-white p1 my-2" href="{% url 'complete todo' todo.id %}">Complete</a>
                    <a class="btn button-primary bg-white p1 my-2" href="{% url 'delete todo' todo.id %}">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 style="text-align: center; user-select: none;">No Todos to show.</h2>
    {% endif %}
{% endblock %}