{% extends 'base.html' %}
{% block content %}

    <header>
        <nav class='row bg-dark'>
            <ul>
                <li style="text-align: center; margin-left: 15px; margin-top: 10px;">
                    <a class='btn button-primary bg-white my-3 p3' href="{% url 'home page' %}">Todos</a>
                    <a class='btn button-primary bg-white my-3 p3' href="{% url 'profile page' %}">Profile</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="card container bg-dark text-white p3 my-3" style="align-items: left;">
        <h1 style="padding-bottom: 3%; padding-left: 1%; padding-top: 3%;">Title: {{ todo.title }}</h1>
        <p>{{ todo.content }}</p>
        <a class="btn button-primary bg-white p1 my-2" href="{% url 'edit todo' todo.id %}">Edit</a>
        <a class="btn button-primary bg-white p1 my-2" href="{% url 'complete todo' todo.id %}">Complete</a>
        <a class="btn button-primary bg-white p1 my-2" href="{% url 'delete todo' todo.id %}">Delete</a>
    </div>

{% endblock %}